*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game-board-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
}

.cell{
    border: 1px solid black;
    cursor: pointer;
}