@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

:root{
    --dark-blue: #091e29;
    --light-blue: #223c4a;
    --gray-blue: #1b2f3a;
    --greenyellow: #b5e61d;
    --orange: #FF7F27;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

body{
    background-color: var(--dark-blue);
    color: white;
    font-family: 'outfit';
}

/* --Header-- */
header{
    background-color: var(--gray-blue);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

/* --Main-- */
main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}


/* --Score Container-- */
.score-container{
    display: flex;
    justify-content: space-between;
}

.score-container h2{
    font-size: 2rem;
}

.player1-score-container,
.player2-score-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.player1-info,
.player2-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.player1-score,
.player2-score{
    background-color: white;
    border-radius: 5px;
    color: black;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
}

/* --Turn Bar-- */
.turn-bar-container{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: var(--gray-blue);
    border-radius: 8px;
    overflow: hidden;
}

.player1-turn-indicator,
.player2-turn-indicator {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: scaleX(0);
    transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
}

.player1-turn-indicator {
    left: 0;
    background-color: var(--greenyellow);
    transform-origin: right center;
}

.player2-turn-indicator {
    right: 0;
    background-color: var(--orange);
    transform-origin: left center;
}

.active {
    transform: scaleX(1);
}

.turn-text{
    color: var(--dark-blue);
}

/* --Game Board-- */
.game-board-container {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(3, 180px);
    margin-top: 2rem;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.75rem;
    font-weight: 700;
    border: 1px solid white;
    cursor: pointer;
}

/* Top Border */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

/* Left Border */
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}

/* Bottom Border */
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

/* Right Border */
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}

.X-marker{
    color: var(--greenyellow);
}

.O-marker{
    color: var(--orange);
}

/* --Dialog-- */
dialog{
    margin: auto;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--light-blue);
    color: white;
    animation: modal-opacity 3.5s ease forwards;
}

@keyframes modal-opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

dialog::backdrop{
    background-color: var(--dark-blue);
    backdrop-filter: blur(5px); 
    animation: backdrop-opacity 3.5s ease forwards;
}

@keyframes backdrop-opacity{
    from{
        opacity: 0%;
    }
    to{
        opacity: 85%;
    }
}

dialog:not([open]){
    display: none;
}

dialog h3{
    font-size: 2rem;
}

dialog p{
    font-size: 1.25rem;
}

.dialog-btn-container{
    display: flex;
    gap: 1.75rem;
    margin-top: 1rem;
}

dialog button{
    border: none;
    border-radius: 6px;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 400;
    font-family: 'outfit', sans-serif;
    color: var(--dark-blue);
}

.restart-game-btn{
    background-color: var(--greenyellow);
    border: 3px solid var(--greenyellow);
    transition: background-color 0.2s ease;
}

.reset-scores-btn{
    background-color: var(--orange);
    border: 3px solid var(--orange);
    transition: background-color 0.2s ease;
}

.restart-game-btn:hover,
.reset-scores-btn:hover{
    background-color: white;
}

