:root{
    --dark-blue: #091e29;
    --greenyellow: #b5e61d;
    --orange: #FF7F27;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 1rem;
}

body{
    background-color: var(--dark-blue);
    color: white;
}

/* --Header-- */
h1{
    font-size: 2.5rem;
    font-weight: 700;
}

/* --Main-- */
main{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}


/* --Score Container-- */
.score-container{
    display: flex;
    justify-content: space-between;
}

.player1-score-container,
.player2-score-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.player1-info,
.player2-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.player1-score,
.player2-score{
    background-color: white;
    border-radius: 5px;
    color: black;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 1rem;
}

.player1-turn-container.active,
.player2-turn-container.active{
    background-color: white;
    color: black;
    padding: 1rem;
}


/* --Game Board-- */
.game-board-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.75rem;
    border: 1px solid white;
    cursor: pointer;
}

/* Top Border */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

/* Left Border */
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}

/* Bottom Border */
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

/* Right Border */
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}

.X-marker{
    color: var(--greenyellow);
}

.O-marker{
    color: var(--orange);
}

/* --Dialog-- */
dialog{
    margin: auto;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    border: none;
}

dialog::backdrop{
    background-color: var(--dark-blue);
    backdrop-filter: blur(5px); 
    opacity: 85%;
}

dialog:not([open]){
    display: none;
}

dialog h3{
    font-size: 2rem;
}

dialog p{
    font-size: 1.25rem;
}

.dialog-btn-container{
    display: flex;
    gap: 1.75rem;
    margin-top: 1rem;
}

dialog button{
    border: none;
    border-radius: 6px;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 0.9rem;
}
